/*==閫夋嫨鍣�=*/
.condition-dropdown{
    position: absolute;
    z-index: 1000;
    background-color: #ffffff;
    border: 1px solid #8a929f;
    box-shadow: 0 2px 8px rgba(85, 85, 85, 0.3);
    -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
    width:160px;
    padding:5px;
    color: #555;
    font:12px/1.6 Tahoma,microsoft yahei,"寰蒋闆呴粦","瀹嬩綋";
}
.condition-dropdown .cf{*zoom: 1;}
.condition-dropdown .cf:after{content: '.';display: block;clear: both;height: 0;overflow: hidden;visibility: hidden;}
.condition-dropdown a{text-decoration: none;}
.condition-dropdown label{line-height: inherit;}

.large-dropdown{ width:600px;}
.large-dropdown h5{ position:relative; font:bold 14px/28px 'Microsoft Yahei';*zoom: 1;margin:0;padding:10px;}
.large-dropdown h5 .more{position: absolute;right:10px;top:10px;}
.large-dropdown h5 .h-tips{ margin-left:5px;font-size: 12px;color: #888;font-weight: normal;}
.large-dropdown .input-search input{width:160px;height: 16px;line-height: 16px;}

.large-dropdown .content ul{margin:0;padding:0}

.condition-dropdown-toolbar{ border:1px solid #e1e5e7; background:#fafafc; padding:8px 10px 3px; margin:0 10px 10px;*zoom: 1;}
.condition-dropdown-toolbar:after{content: '.';display: block;clear: both;height: 0;visibility: hidden;overflow: hidden;}
.condition-dropdown-toolbar dt{float:left;margin-right: 5px;font-weight: bold;}
.condition-dropdown-toolbar dd{ overflow: hidden;*zoom: 1;}
.condition-dropdown-toolbar dd label{margin:0 10px 5px 0;padding: 0 5px;display:inline-block;}
.condition-dropdown-toolbar dd label a{white-space: nowrap;color: #0088cc;}
.condition-dropdown-toolbar dd label a:hover{text-decoration: none;}
.condition-dropdown-toolbar dd label:hover{background: #57a6ce;}
.condition-dropdown-toolbar dd label:hover a{color: #fff;}
.condition-dropdown-toolbar dd .selected,
.condition-dropdown-toolbar dd .selected:hover{background: #0088cc;}
.condition-dropdown-toolbar dd .selected a{color: #fff;}

.condition-dropdown .content{*position: relative; padding:10px 0; max-height:225px; overflow:auto; margin:0 10px;}
.condition-dropdown .list-horizontal li{ float:left;width:23%; margin-right:2%;margin-bottom: 2px;*width:22.9%;}
.condition-dropdown .list-horizontal label{ display:block;position: relative;*zoom: 1;}
.condition-dropdown .list-horizontal a{display:block;padding:3px 10px;color: #555;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
.condition-dropdown .list-horizontal a:hover{background: #27ae61;text-decoration: none;color: #fff;}
.condition-dropdown .list-horizontal .selected a{ background:#239855; color:#fff;}
.condition-dropdown .list-horizontal i.num{display: none;position: absolute;right:-10px;top:-5px;padding: 0 5px;background: #f4861e;color: #fff;font:normal 12px/16px \5b8b\4f53;border-radius: 3px;}
.condition-dropdown .list-horizontal .selected i.num,
.condition-dropdown .list-horizontal label:hover i.num{display: block;}

.condition-dropdown .condition-footer{position: relative;margin: 0 -5px -5px; background:#f4f5f8; border-top:1px solid #c6cdd3;padding-right: 85px;*zoom: 1;}
.condition-dropdown .condition-page{position: relative;margin: 0 -5px -5px; background:#f4f5f8; border-top:1px solid #c6cdd3;*zoom: 1;}
.condition-dropdown .content-selected{padding:10px 10px 5px 10px;}
.condition-dropdown .content-selected h5{ float:left; margin:0 8px 0 0; padding:0; font-size:12px;}
.condition-dropdown .content-selected .list-horizontal li{ margin-right:0;width:auto; }
.condition-dropdown .content-selected .list-horizontal label{ margin:0 10px 5px 0; padding-right:12px; position:relative; border:1px solid #a0a9b8; background:#f4f5f8;width:auto; display:block; border-radius:2px;}
.condition-dropdown .content-selected .list-horizontal label:hover{background:#0088cc; color:#fff;border:1px solid #0088cc;}
.condition-dropdown .content-selected .list-horizontal label:hover a,
.condition-dropdown .content-selected .list-horizontal label:hover em{ color:#fff;}
.condition-dropdown .content-selected .list-horizontal a{padding:2px 4px;color:#333333; width:auto;max-width: 160px;}
.condition-dropdown .content-selected .list-horizontal a:hover{ color:#fff; background:none;}
.condition-dropdown .content-selected .list-horizontal em{color:#b1b9c3; position:absolute; right:3px; top:0; font-size:14px; cursor:pointer;}
.condition-dropdown .form-actions{ position:absolute;right:0;top:0;bottom:0;margin:10px auto;width:90px;border-left: 1px dashed #a0a9b8;}
.condition-dropdown .form-actions .btn{position: absolute;left:50%;top:50%;margin:-12px 0 0 -33px;padding: 3px 5px;display: inline-block;*zoom: 1;*display: inline;width:54px;border: 1px solid #2166A1;border-radius: 2px;font:12px/16px \5b8b\4f53;color: #fff;text-align: center;outline: 0;vertical-align: middle;cursor: pointer;
    background:#239855;
    background:-webkit-gradient(linear,0 0,0 100%,from(#239855),to(#239855));
    background:-webkit-linear-gradient(top,#239855,#239855);
    background:-o-linear-gradient(top,#239855,#239855);
    background:linear-gradient(to bottom,#239855,#239855);
    background:-moz-linear-gradient(top,#239855,#239855);
}
.condition-dropdown .form-actions .btn:hover{text-decoration: none;border: 1px solid #2666ab;
    background:#5f9adf;
    background:-webkit-gradient(linear,0 0,0 100%,from(#239855),to(#239855));
    background:-webkit-linear-gradient(top,#239855,#239855);
    background:-o-linear-gradient(top,#7caff9,#239855);
    background:-moz-linear-gradient(top,#239855,#239855);
    background:linear-gradient(to bottom,#239855,#239855);
}

.condition-letters{margin: 0 10px;}
.condition-letters a:link,.condition-letters a:visited{display: inline-block;*display: inline;*zoom: 1;margin-right: 2px;padding: 0 2px;min-width: 10px;height: 14px;line-height: 14px;text-align: center;color: #0088cc;}
.condition-letters a:hover{background: #57a6ce;text-decoration: none;color: #fff;}
.condition-letters a.selected,
.condition-letters a.selected:hover{background: #0088cc;color: #fff;}
.condition-letters a.disabled,
.condition-letters a.disabled:hover{color: #bcbcbe;background: transparent;cursor: default;}

.condition-dropdown .search-bar{position: relative;display: inline-block;*display: inline;*zoom: 1;vertical-align: middle;font-weight: normal;}
.condition-dropdown .search-bar input{display: block;margin-right: 0;padding: 3px 33px 3px 6px;width:200px;height:20px;line-height: 20px;font-size: 12px;color:#7c7a7a;background-color: #ffffff;border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    outline:none;
    -webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
}
.condition-dropdown .search-bar input:hover,
.condition-dropdown .search-bar input:focus{outline: none;box-shadow: none;border-color: #0088cc;}
.condition-dropdown .search-bar .btn-search{position: absolute;right:1px;top: 1px;*top:2px;width: 27px;height: 26px;border-left: 1px solid #e1e5e7;text-align: center;}
.condition-dropdown .search-bar .icon-search2{position: relative;top:6px;*top:0;display: inline-block;*display: inline;*zoom: 1;width: 16px;height: 16px;background: url(search-spr.png) no-repeat;vertical-align: middle;*margin-top:5px;}
.condition-dropdown .search-bar .btn-search:hover{background: #0088cc;}
.condition-dropdown .search-bar .btn-search:hover .icon-search2{background-position: 0 -16px;}
